@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">EXAMEN ANGELO VACA</h1>
    <p class="lead">Universidad-Carreras</p>
    <p class="text-muted">La aplicación desarrollada en Visual Studio consiste en tres proyectos: uno para la API (AppUni.API), otro para las entidades (AppUni.Entidades), y un tercero para la interfaz web MVC (AppUni.WEB.MVC). En el proyecto de entidades, se definen las clases Universidad y Carrera, donde una universidad puede tener múltiples carreras, representando una relación uno a muchos. En el proyecto API, se configura un DbContext para manejar estas entidades y se establece la conexión a una base de datos SQL Server, además de crear controladores API para realizar operaciones CRUD (Crear, Leer, Actualizar y Eliminar) sobre las entidades. En el proyecto web MVC, se crea la interfaz de usuario utilizando Razor Views y controladores MVC para interactuar con la API, permitiendo a los usuarios gestionar universidades y carreras a través de una interfaz web intuitiva y amigable. Esto integra backend y frontend, facilitando la administración de datos y la visualización de la información en tiempo real.</p>
    <img class="img-fluid" src="https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen representativa">
</div>
